* {
	text-decoration:none;
}

a {color:#cc0607}
a:hover {text-decoration:underline;}

html, body {
	width:100%;
	height:100%;
}

body {
	overflow-y:scroll;
	background:#3f171f url(../images/back.jpg);
	font:12px "Trebuchet MS";
}

#holder {
	margin:0 50px;
	width:auto;
	height:auto;
}

#header {
	width:100%;
	height:auto;
	background:#FFF;
}
	#header img {margin:15px;}
	#header p {text-align:right; float:right; clear:both; margin:10px 15px 0 0;}

#mainMenu {
	width:100%;
	height:28px;
	border-top:1px;
	border-right:0px;
	border-bottom:1px;
	border-left:0px;
	border-style:solid;
	border-color:#F1A2A4;
    background: #ce0b09;

    position: relative;
    z-index: 9;
}
	#mainMenu #menu-items {
		width: 150px;
		white-space: nowrap;
	}

#content {
	width:100%;
	height:100%;
	background:#FFF;
	padding:10px 0;
}
	#app, .appExtension {
		width:90%;
		height:100%;
		margin:auto auto;
		border:none;
		position:relative;
	}
		#app h2, .appExtension h2 {
			width:100%;
			font-size:20px;
			border-bottom:1px solid #006;
			margin:15px 0px 30px 40px;
		}
		
		#app table, .appExtension table {
			width:100%;
			border:none;
			text-align:left;
			vertical-align:middle;
		}
			
			#app th, .appExtension th {
				padding:7px 4px 5px 4px;
			}
			
			#app td, .appExtension td {
				/*width:20%;*/
				padding:3px;
			}
				#app td.button, .appExtension td.button {
					text-align:center;
				}
			
			#app.inputStyle, .appExtension.inputStyle {
				width:90%;
				display:inline;
				border:1px solid #666;
				background-color:#FFF;
			}
			
			#app form, .appExtension form {
				text-align:right;
			}
			
			#app #new {
				margin:10px 10px 0 0;
			}

#footer {
	width:100%;
	height:auto;
	border-top:1px #006 dashed;
	padding:5px 0;
	background:#FFF;
}