.annotation {
  width:10px;
  height:10px;
  /**background:url('../images/cadeira.gif') no-repeat;
  color: #8cc63f;
  font-family: arial;
  font-size: 30px;**/
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-color: #8cc63f;
}

.diametro{
  width:10px;
  height:10px;
}

.annotationHover {
  border:2px solid transparent;
  margin: -2px;
}

.annotationSelected {}

.open {}

.standby {
  /**background:url('../images/cadeiraEmEspera.gif') no-repeat;**/
  background-color: #006837;    
}

.closed {
  /**background:url('../images/cadeiraOcupada.gif') no-repeat;**/
  background-color: #cccccc;
}

.mapa_de_plateia .ui-selecting {
  border:2px solid #FF0;
}

.mapa_de_plateia .ui-selected {
  /**border:2px solid #F00;**/
}

.mapa_de_plateia {
  position:relative;
}