#mapa_de_plateia {
	width:630px;
	height:500px;
	border:5px solid #006;
	margin-left:50px;
	display:inline-block;
}

	#mapa_de_plateia img {
	}

#containerDados {
	margin:0 10px 0 0;
	display:inline-block;
	vertical-align:top;
	width:260px;
}

	#containerDados h2 {
		border:none;
		font-size:16px;
	}
	
	#containerDados table {
		width:100%;
		margin-left:10px;
	}
	
	#containerDados hr {
		margin:25px 0 25px 0;
	}
	
	.ui-selectable-helper { position: relative; z-index: 100; border:1px dotted black; }
	
	#wrapped {
		border:2px ;
	}