@page{
    
}

@media print {
    .esconder{
        display: none;
    }
}

@media screen{

}

body {
    margin:0px;
    padding: 0px;
    font-family: arial;
    font-size: 9px;
    color: #000000;
}

#main{
    float: left;
}

#main #box-geral{
    float: left;
    padding-top: 55px;
    padding-bottom: 27px;
    padding-left:  40px;
    padding-right:  40px;
    border: 1px solid black;
}

#main #box-geral #box-left{
    float: left;
    width: 310px;
    margin-top: -20px;
}

#main #box-geral #box-left .box-endereco{
    padding-top: 90px;
    padding-bottom: 29px;
    font-weight: bold; 
    text-transform: uppercase;
    float: left;
    width: 200px;
}

#main #box-geral #box-left .codbarras{    
    width: 90px;
    float: right;
    font-size: 10px;
    height: 85px;
    text-align: right;
    font-weight: normal;
    margin-top: 45px;
}

#main #box-geral #box-left table{
    margin-top: 10px;
    font-size: 10px;
    width: 310px;
    font-size: 9px;
}

#main #box-geral #box-left table tr td:first-of-type{
    font-weight: bold;
    text-align: left;
}

#main #box-geral #box-left table tr td{
    text-align: center;
}

#main #box-geral #box-left table tr:nth-child(odd){
    background-color: #999999;
}

#main #box-geral #box-left .rodape{
    border-top: 2px solid black;
    font-size: 10px;
    padding-top: 4px;
    float: left;
    width:  100%;
    margin-top: 9px;
}

.semmargem{
    padding-top: 40px !important;
}

.margemcodbarra{
    margin-top: 10px !important;
}

#main #box-geral #box-left span{
    font-size: 8px;
    font-weight: bold;
}

#main #box-geral #box-right{
    float: right;
    width: 300px;
    text-align: right;
    margin-top: -20px;
}

#main #box-geral #box-right .box-cliente{padding-top: 40px;}
#main #box-geral #box-right .box-local{padding-top: 25px;}
#main #box-geral #box-right .box-pagamento{padding-top: 35px;}

#main #box-geral #box-right span{
    font-size: 7px;
    font-weight: bold;
}

.proxima{
    float: left;
    width: 100%;
    margin-top: 1px;
}

.codbarra{
    text-align: right;
    padding: 0px 0px;
    margin-top: 10px;
}

.link{
    font-size: 10px;
    color: black;
}

