@page{
    margin: 0.5cm 0.5cm;
}

@media print {
    .esconder{
        display: none;
    }
}

@media screen{

}

body {
    margin:0px;
    padding: 0px;
    font-family: arial;
    font-size: 9px;
    color: #000000;
}

#main{
    display: table;    
}

#main #box-geral{
    float: left;
    padding: 28px 35px;
    border: 1px solid black;
}

#main #box-geral #box-left{
    float: left;
    width: 310px;
    margin-top: -7px;
}

#main #box-geral #box-left .box-endereco{
    padding-top: 30px;
    padding-bottom: 29px;
    font-weight: bold; 
    text-transform: uppercase;
    float: left;
    width: 200px;
}

#main #box-geral #box-left .codbarras{    
    width: 80px;
    float: right;
    font-size: 10px;
    height: 90px;
    text-align: right;
    font-weight: normal;
}

#main #box-geral #box-left table{
    margin-top: 10px;
    font-size: 10px;
    width: 310px;
    font-size: 9px;
}

#main #box-geral #box-left table tr td:first-of-type{
    font-weight: bold;
    text-align: left;
}

#main #box-geral #box-left table tr td{
    text-align: center;
}

#main #box-geral #box-left table tr:nth-child(odd){
    background-color: #999999;
}

#main #box-geral #box-left .rodape{
    border-top: 2px solid black;
    font-size: 10px;
    padding-top: 4px;
    float: left;
    width:  100%;
    margin-top: -20px;
}

#main #box-geral #box-left span{
    font-size: 8px;
    font-weight: bold;
}

#main #box-geral #box-right{
    float: right;
    width: 300px;
    text-align: right;
    margin-top: -7px;
}

#main #box-geral #box-right .box-cliente{padding-top: 40px;}
#main #box-geral #box-right .box-local{padding-top: 25px;}
#main #box-geral #box-right .box-pagamento{padding-top: 25px;}

#main #box-geral #box-right span{
    font-size: 7px;
    font-weight: bold;
}

.proxima{
    float: left;
    width: 100%;
    margin-top: 1px;
}

.codbarra{
    text-align: right;
    padding: 0px 0px;
    margin-top: 10px;
}

.link{
    font-size: 10px;
    color: black;
}
