.annotation {
	width:10px;
	height:10px;
	background:url('../images/cadeira.gif') no-repeat;
	border:2px solid #FFF;
}

.annotationHover {
	border:2px solid #999;
}

.annotationSelected {}

.open {}

.standby {
	background:url('../images/cadeiraEmEspera.gif') no-repeat;
}

.closed {
	background:url('../images/cadeiraOcupada.gif') no-repeat;
}

#mapa_de_plateia .ui-selecting {
	border:2px solid #FF0;
}

#mapa_de_plateia .ui-selected {
	border:2px solid #F00;
}

#mapa_de_plateia {
	position:relative;
}